
*{
    margin:0;

}
body{
    box-sizing: border-box;
    font-family: sans-serif;
  
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

.nav-bar{
    width: 100%;
    height: 40px;
    background-color:#71b5e971 ;
}
.nav-bar div{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
}
.nav-bar img{
    padding-right: 10px;
}

.profile{
    width: 50%;
    height: 130px;
    margin: 20vh auto 0 auto;
}
.profile figure{
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 1px solid silver;
    border-radius: 100%;
    margin: 0 auto 0 auto;
}
.profile figure img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.detel{
    width: 60%;
    margin: 0 auto 0 auto;
    text-align: center;
}
.detel h1{
    font-size: 20px;
    line-height: 1cm;

}
.detel p{
    font-size: 10px;
}
.detel a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background-color:#71b5e971 ;
    padding: 4px 15px 4px 15px;
    border-radius: 15px;
    color: black;
}

.btn-box{
    margin:0 auto 0 auto;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.btn-box .v2{

}
.btn-box .v3{
  

}

.btn-box .v3 img{
    height: 10px;
}
.d1{
    width: 100%;
    height: auto;
    display: flex;


}
.d1 .left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.d1 .right{
    line-height: 0.7cm;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.d1 .left figure{
    overflow: hidden;
    width: 100px;
    height: 130px;
    border-radius: 5px;
}
.d1 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.d1 h4{
    padding-top: 10px;
    font-size: 10px;
}
.btn-y{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    
  
}

a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background-color:#71b5e971 ;
    padding: 4px 15px 4px 15px;
    border-radius: 15px;
    color: black;
    text-align: center;

}

.sserafil{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.sserafil h4{
    font-size: 12px;
    margin: 10px 0 10px 0;
}






nav{
    display: flex;
    width: 84%;
    align-items: center;
    justify-content: space-between;

}

.title{
    text-align: center;
    padding: 5px 0 15px 0;
}

.d2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.d2 .left{
    line-height: 0.7cm;
   width: 70%;
   display: flex;
   text-align: center;
   flex-direction: column;
   align-items: center;
}
.d2 .right{
    width: 30%;
}